/* styles/globals.css */

/* Tailwind CSS 지시어 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 rotateY 클래스 추가 */
@layer utilities {
  .rotate-y-45 {
    transform: rotateY(45deg);
  }
  .rotate-y--45 {
    transform: rotateY(-45deg);
  }
}

/* 글로벌 스타일 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth; /* 부드러운 스크롤 이동 */
  background-color: black; /* 기본 배경색 */
}


/* Your custom global styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* styles/globals.css 또는 해당 컴포넌트의 CSS 모듈에 추가 */
.swiper-button-prev,
.swiper-button-next {
  @apply w-11 opacity-0 invisible transition-all duration-300 ease-in-out;
}

.swiper-button-prev {
  @apply translate-x-12;
}

.swiper-button-next {
  @apply -translate-x-12;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  @apply translate-x-0 opacity-100 visible;
}


/* 스크롤바 커스텀 (선택) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
